.main-title{
    text-align: center;
}

.images{
    background-color: #818181;
    width:80%;
    margin:auto;
    box-shadow: 0 0 10px 2px #656565;
    padding:15px;
    box-sizing: border-box;
}

.images img{
    width: 20%;
    margin:2.5%;
    border:2px solid #B5B5B5;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px #656565;
    cursor: zoom-in;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: zoom-out;
    display: none;
}

.overlay img{
    width: 70%;
    position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
    top:50%;
    cursor: auto;
}

.overlay .close{
    position: absolute;
    left: 95%;
    top: 35px;
    right: 10px;
    color: #CECECE;
    width: 45px;
    cursor: pointer;
}
